<a href="https://colab.research.google.com/github/HarivigneshA/Data-Science/blob/main/Introduction_to_Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'], 
    'temperature': [32,35,28,24,32,31], # numerical data
    'windspeed': [6,7,2,7,4,2],  # numerical data
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']    # categorical data
}

In [ ]:
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [ ]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.sample(1)

        day  temperature  windspeed event
4  1/5/2017           32          4  Rain

In [ ]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
 df.set_index('day',inplace=True)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df[['temperature','event']]

   temperature  event
0           32   Rain
1           35  Sunny
2           28   Snow
3           24   Snow
4           32   Rain
5           31  Sunny

In [ ]:
 df.set_index('day',inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 1/1/2017 to 1/6/2017
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  6 non-null      int64
 1   windspeed    6 non-null      int64
 2   event        6 non-null      object
dtypes: int64(2), object(1)
memory usage: 192.0+ bytes

In [ ]:
df['event'].min()

'Rain'